.page {
    display: flex;
    flex-wrap: wrap;
}

.page > * {
    padding: 1rem;
}

.sidebar {
    background: rgb(92, 92, 140);
    outline: 1px solid rgb(36, 36, 45);
    flex-grow: 1;
    flex-basis: 12rem;
}

.content {
    flex-basis: 0;
    flex-grow: 2;
    min-width: 60%;
}

body {
    max-width: 70rem;
    min-height: unset;
    padding: 1rem;
    background: rgb(194, 194, 194);
    margin: 1rem auto;
}

.page {
    background: white;
    border: 1px solid grey;
}